NEXT_PUBLIC_APP_NAME="Armis Sales OS"
NEXT_PUBLIC_APP_URL="http://localhost:3000"
NEXT_PUBLIC_USE_MOCK_DATA="true"

NEXT_PUBLIC_SUPABASE_URL=""
NEXT_PUBLIC_SUPABASE_ANON_KEY=""
SUPABASE_SERVICE_ROLE_KEY=""

MICROSOFT_CLIENT_ID=""
MICROSOFT_CLIENT_SECRET=""
MICROSOFT_TENANT_ID=""

AI_PROVIDER_API_KEY=""
FIREFLIES_API_KEY=""
APIFY_API_TOKEN=""
